body {
	background-color: #f5d9d5;
	font-family: Nunito, sans-serif;
}

#main-navbar {
	font-size: 1.5rem;
	font-weight: 100;
	transition: background-color 500ms;
	padding: .5rem 1rem;
}

#main-navbar .nav-link {
	color: white;
}

.sugar-text {
	cursor: pointer;
}

.sugar-text h2 {
	color: #ea1c2c;
	font-weight: 100;
	font-size: 2.5rem;
}

.sugar-text p {
	color: #f498b8;
	font-weight: 100;
	font-size: 1.125rem;
	line-height: 2;
}

#main-navbar .navbar-brand,
#main-navbar .nav-link.active,
#main-navbar .nav-link:hover,
#home #heading-group h2 > span {
	color: #ea1c2c;
}

#home > .row,
#two > .row {
	text-align: center;
	align-items: center;
}

#two {
	margin-bottom: 100px;
}

#two .row {
	margin-top: 100px;
}

#home #heading-group h2 {
	cursor: pointer;
	color: white;
	font-weight: 100;
	font-size: 3.5rem;
}

.icon {
	width: 40px;
}

.scrolled {
	transition: background-color 500ms;
	background-color: #dec0de;
}

footer {
	color: #ea1c2c;
	background-color: #f5cec8;
}

footer .container {
	height: 100px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

footer .container a {
	font-style: italic;
	color: white;
}

@media (max-width: 1200px) {
	#home > .row #heading-group h2 {
		font-size: 3rem;
	}
}

@media (max-width: 1024px) {
	#home > .row #heading-group h2 {
		font-size: 2.8rem;
	}
}

@media (max-width: 992px) {
	.sugar-text h2 {
		font-size: 2rem;
	}
	#two .row {
		margin-top: 50px;
	}
}

@media (max-width: 768px) {
	#two .row {
		margin-top: 0;
	}
}
